<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link
      rel="stylesheet"
      href="prism-atom-dark.css"
      type="text/css"
      media="screen"
    />

    <script type="text/javascript" src="prism.js"></script>
    <script type="text/javascript" src="prism.ruby.js"></script>
  </head>

  <body class="background-col">
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-title" href="index.html">After-Bootcamp</a>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="job-links.html">Job Links</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="coding-projects.html">Coding Projects</a>
        </li>
      </ul>
    </nav>

    <br class="clear" />

    <div class="container">
      <div class="titlebox col-md">
        <h1>Project: Planets of the Solar System</h1>
      </div>
    </div>

    <div class="container">
      <div class="textbox col-md">
        <b>Broad Description</b>
      </div>
      <div class="body-text col-md">
        ‘Planets’ will be a simple slide-show of the 8 planets that orbit our Sun. Users will move back and forward through the planets using simple ‘Previous’ and ‘Next’ links. Each page will show the name of the planet, a photo and some basic stats, like this wireframe:
      </div>
      <div class="titlebox col-md">
        <img src="planets-wireframe.png" width="600" height="450"/>
      </div>
      <div class="body-text col-md">
        The finished site might look something like this: <a target="_blank" rel="noopener noreferrer" href="https://planets-after-bootcamp.herokuapp.com">https://planets-after-bootcamp.herokuapp.com</a>
      </div>
      <br />
    </div> 

    <div class="container">
      <div class="textbox col-md">
        <b>Thinking like a web developer</b>
      </div>
      <ul>
        <div class="item col-md">
          <li>This web app is concerned with planets, so the app’s database will contain planets.</li>
        </div>
        <div class="item col-md">
          <li>If all the planetary information (e.g. distance from the sun, orbital period) will comfortably fit onto a single spreadsheet page without fear of duplication or mistaken identity, we can say that the same would be true for a single database table. So for a single table, only one model will be needed.</li>
        </div>
        <div class="item col-md">
          <li>Because the app will *only* deal with planets (no mention of asteroids, each planet’s satellites or individual user accounts), there is only one ‘thing’ that the app might Create, Read, Update or Delete, so only one controller will be needed.</li>
        </div>        
      </ul>
    </div>

    <div class="container">
      <div class="textbox col-md">
        <b>Helpful hints for building this app (without giving too much away)</b>
      </div>
      <ul>
        <div class="item col-md">
          <li>This web app only displays database records on ‘show’ pages, so there’s no need to put anything on the index page; the index page should immediately redirect to the show page of the first record. That first planet will be Mercury, if we’re starting nearest to the sun and working outwards.  (If you’re using Ruby on Rails, then an index page will replace the default “Yay! You’re on Rails!” page.)</li>
        </div>
        <div class="item col-md">
          <li>The key to success here is to understand the importance of storing the ‘id’ number of the planet being shown in the web page’s URL. It means that the app can work out which pages its ‘next/previous planet’ links should point to by decoding the URL of the current page.</li>
        </div>
        <div class="item col-md">
          <li>There’s no need for a data submission page. The database of planets can be populated using the command line, as there are only 8 of them.</li>
        </div>
        <div class="item col-md">
          <li>However, keep an eye on the ‘id’ number that the database assigns to each planet; if your ‘previous planet/next planet’ links work by adding or subtracting 1 to/from the id number shown in the URL, you’ll want to be sure that the id numbers assigned to the planets are consecutive as you enter them into your database. If there are any gaps in the id numbers, clicking through the records will eventually stumble upon a gap rather than a planet, and your app will crash with an error message.  (We can get away with incrementing id numbers to flick through our database in a small programming exercise like this, but the possibility of gaps in the numbers means that you wouldn’t use this method if you were coding a serious web app.)</li>
        </div>
        <div class="item col-md">
          <li>While your app is showing the first planet, clicking the ‘previous planet’ link will cause an error, since there is no ‘zeroth’ planet. The same thing will happen when you click the ‘next planet’ link while the last planet is being displayed. So disabling those links for those two planets will be a very useful feature. (Rails coders might want to investigate the ‘link_to_if’ function)</li>
        </div>
        <div class="item col-md">
          <li>The ‘nav bar’ doesn’t have any navigation links, but it does have title text. You might use the Bootstrap framework and web-fonts from Google.</li>
        </div>
        <div class="item col-md">
          <li>A text file containing all of the basic stats for the planets and the URLs of their 480x480 pixel image files can be downloaded from <a target="_blank" rel="noopener noreferrer" href="Planet-data-urls.txt"><b>here</b></a>.</li>
        </div>
      </ul>
    </div>

    <div class="container">
      <div class="textbox col-md">
        <b>More detailed help (with Ruby on Rails code snippets)</b>
      </div>
      <ul>
        <div class="item col-md">
          <li>As the app only needs an index action and a show action, you can disable all other resources by modifying the ‘resources’ line in the routes.rb file:
            <pre>
              <code class="language-ruby">
                root ‘planets#index’ 
                resources :planets, only: %i[show]</code>
            </pre>
          ‘rake routes’ will now only display two actions for the planets controller.
          </li>
        </div>
        <div class="item col-md">
          <li>To immediately redirect users from the index page to the first show page, the index action in the Planets controller (app/controllers/planets_controller) might say something like:
            <pre>
              <code class="language-ruby">
              redirect_to planet_path(1)</code>
            </pre>
          (It is possible to set routes.rb to say “root ‘planets#show’”, which would set the show page as root and skip the index page entirely. But you can’t include an id with the ‘root’ action, so there would be no way to specify a planet on the show page.)
          </li>
        </div>
        <div class="item col-md">
          <li>By default, Rails sets the URL of a displayed record by its id. For example, the ‘something’ database record with an id of 1 will appear in the browser address bar as ‘something/1’.</li>
        </div>
        <div class="item col-md">
          <li>Your app will need to work out what the previous and next planet is from the one that’s currently shown. The links in your app/views/layouts/application.html.erb file can do this using simple arithmetic:
            <pre>
              <code class="language-ruby">
                planet_path(@planet.id – 1)

                planet_path(@planet.id + 1)</code>
            </pre>
          </li>
        </div>
        <div class="item col-md">
          <li>To disable the previous/next links when the app is showing the first and last planets, the ‘show’ action in the Planets controller will need to set some boolean variables when the first or last planets are being displayed:
            <pre>
              <code class="language-ruby">
                if @planet.id != 1
                  @not_first_planet = true
                end

                if @planet.id != 8 
                      @not_last_planet = true
                end</code>
            </pre>
          These booleans can then be tested to decide whether to enable the links in app/views/layouts/application.html.erb:
            <pre>
              <code class="language-ruby">
                <%= link_to_if @not_first_planet, '< Previous planet',  planet_path(@planet.id - 1) %>
                # Previous planet link enabled if current planet isn’t first

                <%= link_to_if @not_last_planet, 'Next planet >',   planet_path(@planet.id + 1) %>
                # Next planet link enabled if current planet isn’t last</code>
            </pre>
          </li>
        </div>
      </ul>
    </div>

    <div class="container">
      <div class="textbox col-md">
        <b>“I’m not really interested in planets. What else could this project be about?”</b>
      </div>
      <ul>
        <div class="item col-md">
          <li>Ancient cities</li>
          <li>Dog breeds</li>
          <li>Classic guitars</li>
          <li>Retro cellphones</li>
          <li>Famous athletes</li>
        </div>     
      </ul>
    </div>
  </body>
</html>