@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,600');

.navbar-title {
  font-family: 'Patua One', cursive;
  font-size: 30px;
  color: white;
}

.nav-link {
  font-family: 'Catamaran', sans-serif;
  font-size: 22px;
  color: #F4CB22;
}

.bluebox {
  text-align: center;
  border-style: none;
  border-radius: 20px;
  padding: 30px;
  background-color: #00384A;
}

.bluebox h1 {
  font-family: 'Patua One', cursive;
  font-size: 56px;
  color: white;
}

.bluebox h3 {
  font-family: 'Catamaran', sans-serif;
  font-size: 30px;
  color: white;
  margin-top: 14px;
}

.greybox {
  margin-top: 14px;
  border-radius: 20px;
  padding: 8px;
  background-color: #444444;
  
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: white;
}

.greybox b {
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  font-size: 26px;
  color: white;
  padding-left: 10px;
}